body{
    width: 100%;
    height: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    background-color: transparent;
    color: #ededed;
}
#banner-image{
    height: 700px;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center;
    background-size: cover; 
}
#banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0,0,0,0.7);
    max-width: 660px;
    margin: 0 auto;
}
#banner-image-success{
    height: 700px;
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: #00000;
    background: url(img/intro-bg_1.jpg) no-repeat center;
    background-size: cover; 
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px 0;
    background-color: #101010;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}